@using ProyectoFinal_MVC.Models;
@model Construccion
@{
    ViewData["title"] = "Editar Construccion";
}
<div class="card">
  <div class="card-header">
    Editar Construcciòn
  </div>
  <div class="card-body">
      <form asp-action="Update" asp-controller="Construccion" method="post">
           <input type="hidden" asp-for="Id"/>
      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input asp-for="Name" type="text" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
      </div>
      <div class="mb-3">
        <label class="form-label">Lugar de Construccion</label>
        <input asp-for="LugarDeConstruccion" type="text" class="form-control">
        <span asp-validation-for="LugarDeConstruccion" class="text-danger"></span>
      </div>
       <div class="mb-3">
        <label class="form-label">Tipo</label>
        <input asp-for="Tipo" type="text" class="form-control">
        <span asp-validation-for="Tipo" class="text-danger"></span>
      </div>
      <div class="mb-3">
        <label class="form-label">Fecha de Inicio</label>
        <input asp-for="FechaInicio" type="text" class="form-control">
        <span asp-validation-for="FechaInicio" class="text-danger"></span>
      </div>
      <div class="mb-3">
        <label class="form-label">ID EmpresaConstructora</label>
        <input asp-for="EmpresaConstructoraId" type="text" class="form-control">
        <span asp-validation-for="EmpresaConstructoraId" class="text-danger"></span>
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
      <a asp-action="Index" asp-controller="Construccion" class="btn btn-warning">Volver a la lista de Construcciones</a>
    </form>
  </div>
</div>
