@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class= "containerestadisticas">
   <div class= "headernotasdoc1p"><p3>Empresas Constructoras</p3>
    </div>
      <div class= "columna1p">
       </div>
      <div class= "columna2p">
      </div>
      <div class= "columna3p">
      </div>
   </div>
</div>